.register-container{
    width: 80%;
    margin: 0 auto;
}
  .forgot{
    color:#EDB71A;
  }
  .password{
    position: relative;
}
    .fa-eye{
        position: absolute;
        right: 30px;
        cursor: pointer;
        top: 15px ;
        font-size: 20px;
        color:#EDB71A;
    }
.register{
    background-image: url('../../images/pexels-polina-tankilevitch-3735147.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0px;
    height: 1000px;
    position: relative;
    opacity: 0.9;
}
.register .auth-par {
    font-size: 15px;
    color:#EDB71A;
    font-weight: 600;
    margin-bottom: 15px;
}
.error-email-message,.error-password-message,.error-confirmpassword-message{
    color:red;
}

.register-content{
width: 45%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgba(107, 68, 35, 0.9); 
padding: 30px 50px;
border-radius: 20px;
}
       

.register-content > p{
text-align: center;
font-size: 15px;
font-weight: bold;
            
}

.register-content input{
width: 100%;
border: 1px solid #ddd;
border-radius: 5px;
height: 50px;
padding: 10px;
margin-bottom: 12px;
outline:none;
}
.register-content input::placeholder{
font-size: 16px;
text-transform: capitalize;
}           
       
.parag {
    color:#EDB71A;
text-align: center;
margin-top: 10px;
font-size: 15px !important;
font-weight: 300;


}
.error-register-message,.error-login-message{
   display: flex;
   justify-content: center;
    color:red;
    font-size: 25px;
}
.submit{
width: 50%;
height: 50px;
background-color: #EDB71A !important;
color:whitesmoke;
font-weight: bold;
font-size: 20px;
border-radius: 5px;
border: 0px;
margin-top: 5px;
            
}
.centering{
display: flex;
justify-content: center;

}
.auth-header{
    font-weight: bold;
    text-align: center;
color:#EDB71A ;
}
.auth-span{
font-weight: bold;
margin-left: 3px;
}

@media (max-width:1130px) {

.register-content{
    width: 70%;

}
}
@media (max-width:930px) {

.register-content{
    width: 80%;

}
}


@media (max-width:768px) {

.register-content{
    width: 90%;

}
}            
        
        



